In [ ]:
def menu():
  print("""====Prgram File Handling====
  1. Membuat dan Menulis File
  2. Membaca File
  3. Menambahkan Text Pada File
  4. keluar Dari Program
  """)
def newFile():

def readFile():

def addFile():

def exitFile():


Menu = float(input("Masukan Pilihan Angka(1/2/3/4)="))

def writefile():
  inputNama = input("Masukan Nama anda:")
  inputUmur = input("Masukan Umur anda:")
  inputAlamat = input("Masukan Alamat anda:")
  inputEmail = input("Masukan Email anda:")
  #Create & Write File
  filewrite = open("Biodata.txt","w")
  filewrite.write("Nama:"+ inputNama + "\nUmur"+ inputUmur + "\nAlamat" + inputAlamat + "\nEmail" + inputEmail)
  filewrite.close()
def readfile():
  # Read File
  fileread = open("Biodata.txt", "r")
  text = fileread.read()
  print("Berikut ini Data anda")
  print(text)
  fileread.close()

writefile()
print("\n")
readfile()

In [4]:
import pandas as pd

data = {
    "Negara": ["Indonesia", "Jepang", "India", "China", "Amerika Serikat", "Brazil", "Russia", "Meksiko", "Nigeria", "Jerman", "Aljazair", "Inggris"],
    "Capital": ["Jakarta", "Tokyo", "New Delhi", "Beijing", "Washington DC", "Brasilia", "Moscow", "Meksiko City", "Abuja", "Berlin", "Aljazair","London"],
    "Continent": ["Asia", "Asia", "Asia", "Asia", "Amerika", "Amerika", "Asia","Amerika", "Afrika", "Eropa", "Afrika", "Eropa"],
    "Area": [1905, 377, 3287, 9597, 9834, 8515, 17098,1964,923,357,2381,242],
    "Population": [264, 143, 1252, 1357, 329, 210, 146, 126, 200,83,43,66]
}
df = pd.DataFrame(data)
mean = df.Population.mean()
std = df.Area.std()

print(df)
print(mean)
print(std)

             Negara        Capital Continent   Area  Population
0         Indonesia        Jakarta      Asia   1905         264
1            Jepang          Tokyo      Asia    377         143
2             India      New Delhi      Asia   3287        1252
3             China        Beijing      Asia   9597        1357
4   Amerika Serikat  Washington DC   Amerika   9834         329
5            Brazil       Brasilia   Amerika   8515         210
6            Russia         Moscow      Asia  17098         146
7           Meksiko   Meksiko City   Amerika   1964         126
8           Nigeria          Abuja    Afrika    923         200
9            Jerman         Berlin     Eropa    357          83
10         Aljazair       Aljazair    Afrika   2381          43
11          Inggris         London     Eropa    242          66
351.5833333333333
5333.975003066037

In [6]:
import pandas as pd

data = {
    "Negara": ["Indonesia", "Jepang", "India", "China", "Amerika Serikat", "Brazil", "Russia", "Meksiko", "Nigeria", "Jerman", "Aljazair", "Inggris"],
    "Capital": ["Jakarta", "Tokyo", "New Delhi", "Beijing", "Washington DC", "Brasilia", "Moscow", "Meksiko City", "Abuja", "Berlin", "Aljazair","London"],
    "Continent": ["Asia", "Asia", "Asia", "Asia", "Amerika", "Amerika", "Asia","Amerika", "Afrika", "Eropa", "Afrika", "Eropa"],
    "Area": [1905, 377, 3287, 9597, 9834, 8515, 17098,1964,923,357,2381,242],
    "Population": [264, 143, 1252, 1357, 329, 210, 146, 126, 200,83,43,66]
}
df = pd.DataFrame(data)
df.to_csv('countryData.csv', index = False)